
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    margin-bottom: 20px;
}
.logo {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 25px;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}
.nav-links a:hover {
    color: #4CAF50;
}
.generate-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.generate-btn:hover {
    background-color: #45a049;
}

.slider{
    background-image: url("./images/slider1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    width: 900px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.sliderImg {
    width: 100%;
    height: 100%;
}

/* Buttons */
.prev, .next {
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 0, 0, 0.1);;
    border: none;
    padding: 12px 18px;
    font-size: 25px;
    border-radius: 5px;
    height: 100px;
    width: 100px;
}


.prev:hover, .next:hover {
    background: #fff;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}
