<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Slider</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>


  <nav>
    <div class="logo">
      <img src="https://via.placeholder.com/40" alt="Logo" style="vertical-align: middle; border-radius: 50%;">
      MyCVSite
    </div>
    <div class="nav-links">
      <a href="/">Home</a>
      <a href="/form" class="generate-btn">Generate CV</a>
    </div>
  </nav>
<div class="slider">
    <div class="btn">
      <button class="prev" onclick="Decrease()">❮</button>
    </div>

    <div class="btn">
      <button class="next" onclick="Increase()">❯</button>
    </div>
</div>

<script>
    const images = [
        "/static/images/slider1.jpg",
        "/static/images/slider2.jpg",
        "/static/images/slider3.jpg",
        "/static/images/slider4.jpg",
        "/static/images/slider5.jpg"
    ];
    
    let imgTag = document.querySelector('.slider');
    let i = 0;

    function Increase() {
        i++;
        slider();
    }

    function Decrease() {
        i--;
        slider();
    }

    function slider() {
        if (i >= images.length) {
            i = 0;
        } 
        if (i < 0) {
            i = images.length - 1;
        }

        imgTag.style.backgroundImage = `url('${images[i]}')`;
    }

    setInterval(Increase, 5000);
</script>
</body>
</html>
